@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------- coloring ---*/ 
.navbar {
    background-color: #A5ABBD;
}

/*---------------------- navbar -----*/


.nav-logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.nav-logo-container {
    padding-right: 15px;
}

/*------- just testing -----*/
section {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    background-color: #A5ABBD;
}

.hero-contaimer {
    width: 100%;
}
/*-------- images --------*/
.hero-img {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
}
/*----------general --------*/
.who-what-head {
    text-align: center;
    padding-top: 40px;
}

.area-head {
    text-align: center;
}