@import url('https://fonts.googleapis.com/css?family=Quicksand:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*--------------- coloring ---*/ 
.navbar {
    background-color: rgba(95,155,245, 0.7);
}

section {
    background-color: rgba(95,155,245, 0.3);
}

/*---------------------- navbar -----*/
.nav-logo {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.nav-logo-container {
    padding-right: 15px;
}

.hero-contaimer {
    width: 100%;
}
/*-------- hero images --------*/
.container-fluid {
    padding: 0;
}

.hero-container {
    width: 100%;
}

.hero-img {
    height: auto;
    width: 100%;
    margin-bottom: 15px;
}
/*----------general --------*/
.who-what-head {
    text-align: center;
    padding-top: 40px;
}

.area-head {
    text-align: center;
}

/*---------map-------*/
.flex-container {
    display: flex;
    justify-content: center;
}
.custom-map {
    max-width: 80%;
    min-height: 200px;
}